<!-- template form -->
<table class="table table-striped">
	<tr>
		<td>Name:</td>
		<td class="view-element"><i class="icon-tag"></i><span><%= name %></span> $</td>
		<td><input type="text" class="edit-element" id="name" placeholder="<%= name %>"/></td>
	</tr>
	<tr>
		<td>Id:</td>
		<td class="view-element"><i class="icon-tag"></i><span><%= id %></span> $</td>
		<td><input type="text" class="edit-element" id="id" placeholder="<%= id %>"/></td>
	</tr>
	<tr>
		<td>Industry:</td>
		<td class="view-element"><i class="icon-tag"></i><span><%= industry %></span> $</td>
		<td><input type="text" class="edit-element" id="industry" placeholder="<%= industry %>"/></td>
	</tr><!-- children-insert-point formItem -->
</table>